$myblue: #002450;
$myorange: #EA5A01;
$mylightblue: #7DC3D9;
$mygradient: radial-gradient(251.25% 158.91% at 85.76% 90.75%, #002450 0%, #0052B6 100%); 
$big-text: 3.1rem;
$medium-text: 1.8rem;
$body-text: 1rem;

$poppins:"Poppins", serif;